services:
  - type: web
    name: conecta-causa-api
    env: node
    region: oregon
    buildCommand: npm install && npm run build
    startCommand: node dist/index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: NODE_VERSION
        value: 22
